<div id = "name">
  <p> Website đọc truyện online được sưu tầm và cập nhật liên tục từ nhiều
    nguồn khác nhau trên mạng. </p>
  <p>Mời bạn đọc và ủng hộ website bằng cách giới thiệu đến bạn bè có những
    phút đọc truyện thư giãn thật bổ ích </p>
  <p> Mọi đóng góp xin liên hệ tới: </p>
  <p> Email: tuananh@gmail.com </p>
</div>
