<div class="col-md-9 main">
    <div class="banner-section">
      <h3 class="tittle" id = "tittle1">Những bài viết nổi bật </h3>
      <div class="banner">
        <div  class="callbacks_container">
          <ul class="rslides" id="slider4">

        </ul>
      </div>
          <!--banner-->
          <script src="javascripts/responsiveslides.min.js"></script>
       <script>
          // You can also use "$(window).load(function() {"
          $(function () {
            // Slideshow 4
            $("#slider4").responsiveSlides({
              auto: true,
              pager:true,
              nav:true,
              speed: 500,
              namespace: "callbacks",
              before: function () {
                $('.events').append("<li>before event fired.</li>");
              },
              after: function () {
                $('.events').append("<li>after event fired.</li>");
              }
            });
          });
        </script>
     <div class="clearfix"> </div>
          <div class="b-bottom">

        </div>
       </div>
         <!--//banner-->
        <!--/top-news-->
        <div class="top-news">
        <div class="top-inner">
          <div class="col-md-6 top-text">
              <div id="list-story">
                <%= render "list_truyen", collection: @stories %>
              </div>

           </div>
          <div class="col-md-6 top-text two">

           </div>
           <div class="clearfix"> </div>
         </div>
         <div class="top-inner second">
          <div class="col-md-6 top-text">

           </div>
          <div class="col-md-6 top-text two">

           </div>
           <div class="clearfix"> </div>
         </div>
              </div>
          <!--//top-news-->
         </div>
      <!--//banner-section-->
      <div class="banner-right-text">
       <h3 class="tittle" id = "tittle2">Những bài viết mới</h3>
      <!--/general-news-->
       <div class="general-news">
        <div class="general-inner">
          <div class="general-text">
             <div id="list-story">
               <%= render "list_truyen", collection: @stories %>
             </div>

           </div>

         </div>
      </div>
     </div>
      <div class="clearfix"> </div>
