<% provide :title, t(".all_members") %>
<h1><%= t ".all_members" %></h1>
<%= paginate @members %>
<ul class="members">
  <%= render @members %>
</ul>
<%= paginate @members %>

<div id = "about">

<div class="center jumbotron">
  <h1></h1>
</div>
