<% provide :title, @member.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="member_info">
      <h1>
        <%= gravatar_for @member %>
        <%= @member.name %>
      </h1>
    </section>
  </aside>
</div>
<div id = "about">

<div class="center jumbotron">
  <h1></h1>
</div>
